<%= semantic_form_for [:admin, resource] do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <%= link_to 'Русский', "#lang-ru" %>
      <% resource.translations.each do |lang| %>
	<% unless lang.locale == :ru %>
	  <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
	<% end %>
      <% end %>
    </ul>

    <div id="lang-ru">
      <%= f.inputs 'Русский текст' do %>
        <%= f.input :name, input_html: {readonly: true} %>
        <%= f.input :html_title, input_html: { rows: 1 } %>
        <%= f.input :html_keywords, input_html: { rows: 1 } %>
        <strong><%= f.label :html_description %></strong><br/><br />
        <%= f.cktext_area :html_description %>
	<%= f.input :image, :as => :file, :hint => (f.object.image.present? ? f.template.image_tag(f.object.image.url) : '') %>
      <% end %>
    </div>

    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :ru %>">
	<%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
	  <%= lf.input :html_title, input_html: { rows: 1 } %>
          <%= lf.input :html_keywords, input_html: { rows: 1 } %>
          <strong><%= lf.label :description %></strong><br /><br />
          <%= lf.cktext_area :html_description %>
          <%= lf.input :locale, :as => :hidden %>
	<% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>

  <%= f.actions %>

<% end %>