<div class="page-bg bg-news"></div>

<div id="breadcrumbs">
  <div class="wrapper">
    <%= link_to t(:portfolio), root_path %>
    <span class="drop"></span>
    <%= link_to @movie.title, movie_path(@movie) %>
  </div>
</div>

<div id="center">
<div class="wrapper">
<div class="content-block radius-10">
<div class="series-list">

  <% @movie.episodes.order('position ASC').each_with_index do |episode, index| %>
    <div class="series-item radius">
      <div class="social-bookmark top-radius">
	<% if episode.video_url.present? %>
	  <% url = "#{full_url}#prettyPhoto/#{index}/" %>
	<% else %>
	  <% url = "#{full_url}#prettyPhoto[gallery#{index}]/0/" %>
	<% end %>
	
	<% title = episode.title %>
	<% description = episode.description %>
	<% image = URI.join(host_path, episode.default_image(:original, false)) %>
	<a onclick="window.Share.facebook('<%= url %>','<%= title %>','<%= image %>','<%= description %>')">
	  <span class="fb-mark"></span>
	</a>
	<a onclick="window.Share.vkontakte('<%= url %>','<%= title %>','<%= image %>','<%= description %>')">
	  <span class="vk-mark"></span>
	</a>
      </div>
      <div class="series-thumb">
	<div class="icon-mask radius">
	  <% if episode.video_url.present? %>
	    <a class="icon-play" href="<%= episode.video_url %>" rel="prettyPhoto">Смотреть<br />видео</a>
	  <% elsif episode.images.present? %>
	    <a alt="" rel="prettyPhoto[gallery<%= index %>]" class="icon-image" href="<%= episode.images.first.image.url(:lightbox) %>">
	      Смотреть<br />картинки
	    </a>
	  <% else %>
	    <span>nothing</span>
	  <% end %>
	</div>

	<div class="preview">
	  <% if episode.video_url.present? %>
	    <a class="icon-play" href="<%= episode.video_url %>" rel="prettyPhoto">
	      <%= image_tag episode.default_image, style: 'width: 272px;', alt: '' %>
	    </a>
	  <% elsif episode.images.present? %>
	    <a rel="prettyPhoto[gallery<%= index %>]" class="icon-image" href="<%= episode.images.first.image.url(:lightbox) %>">
	      <%= image_tag episode.default_image, style: "width: 272px;", alt: '' %>
	    </a>
	    <% episode.images.each_with_index do |image, ext_index| %>
	      <a rel="prettyPhoto[gallery<%= index %>]" data-number="<%= ext_index %>" class="icon-image" href="<%= image.image.url(:lightbox) %>"></a>
	    <% end %>
	  <% else %>
	    <span>nothing</span>
	  <% end %>
	</div>
	<div class="clear"></div>
      </div>
      <div class="series-info">
	<div class="series-title"><%= episode.title %></div>
      </div>
    </div>
  <% end %>

  <div class="clear"></div>

</div>
</div>
</div>
</div>
