<div id="breadcrumbs">
  <div class="wrapper">
    <%= link_to t(:about_studio), about_us_path %>
    <span class="drop"></span>
    <%= link_to t(:jobs), jobs_path %>
    <span class="drop"></span>
    <%= link_to @job.title, job_path(@job) %>
  </div>
</div>

<div id="center" class="bg-vacansies">
  <div class="wrapper">
    <div class="content-block radius-10">
      <div class="vacansies-detail">
	<h1><%= @job.title %></h1><br />
	<%== @job.description %>
      </div>

      <div class="contact-form bottom-radius-10">
	<div class="go-up"><%= t(:i_will_go_up) %></div>
	<div class="call-us"><span><%= t(:call_us) %>:</span>
	  <b><%= link_to "+7 495 916-7562", "callto:+74959167562" %></b>
	</div>

	<%= form_for @job_position_request, url: create_request_job_path(@job) do |f| %>
	  <div class="field">
	    <%= f.email_field :email, placeholder: 'Ваш e-mail' %>
	  </div>
	  <div class="file-field">
	    <span class="file-mask"><%= t(:attach_file) %></span>
	    <%= f.file_field :attachment %>
	  </div>
	  <div class="field">
	    <%= f.text_area :text, placeholder: t(:tell_about_your_self) %>
	  </div>
	  <div class="button">
	    <%= f.submit t(:write_us) %>
	  </div>
	<% end %>

      </div>
    </div>
  </div>
</div>
