<div id="submenu">
  <div class="wrapper">
    <ul>
      <li class="current">
	<%= link_to t(:persons), persons_path, class: 'radius' %>
      </li>
      <li>
	<%= link_to t(:partners), partners_path, class: 'radius' %>
      </li>
      <li>
	<%= link_to t(:contacts), contacts_path, class: 'radius' %>
      </li>
      <li><a class="radius" href="">Награды</a></li>
      <li>
	<%= link_to t(:feedbacks), feedbacks_path, class: 'radius' %>
      </li>
      <li>
	<%= link_to t(:job_positions), jobs_path, class: 'radius' %>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</div>
