<div id="header">
  <div class="wrapper">
    <div class="logo">
      <%= link_to image_tag('logo.png'), root_path %>
    </div>
    <div class="menu">
      <ul>
	<li class="current">
	  <%= link_to t(:portfolio), root_path, class: 'radius' %>
	</li>
	<li>
	  <%= link_to t(:about_studio), about_us_path, class: 'radius' %>
	</li>
	<li>
	  <%= link_to t(:news), news_path, class: 'radius' %>
	</li>
      </ul>
    </div>
    <div class="header-social radius">
      <div class="social-counter">
	<%= image_tag 'fb-header.png' %>
	<span class="people-count radius">1234</span>
      </div>
      <div class="lang">
	<a class="radius <%= language?(:ru) %>" data-language="ru" href="">Ru</a>
	<a class="radius <%= language?(:en) %>" data-language="en" href="">En</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
