<div id="header">
  <div class="wrapper">
    <div class="logo">
      <%= link_to image_tag('logo.png'), root_path %>
    </div>
    <div class="menu">
      <ul>
	<li>
	  <%= link_to t(:portfolio), root_path, class: 'radius', id: 'portfolio_head' %>
	</li>
	<li>
	  <%= link_to t(:about_studio), about_us_path, class: 'radius', id: 'about_studio_head' %>
	</li>
	<li>
	  <%= link_to t(:news), news_path, class: 'radius', id: 'news_head' %>
	</li>
      </ul>
    </div>
    <div class="header-social radius">
      <div class="social-counter">
	<%= image_tag 'fb-header.png' %>
	<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FToonbox%2F137457992997733&send=false&layout=button_count&width=450&show_faces=false&font&colorscheme=light&action=like&height=21&appId=387281317989326" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
	<span class="people-count radius">1234</span>
      </div>
      <div class="lang">
	<a class="radius <%= language?(:ru) %>" data-language="ru" href="">Ru</a>
	<a class="radius <%= language?(:en) %>" data-language="en" href="">En</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
