<div id="breadcrumbs">
  <div class="wrapper">
    <a href="">Новости</a>
  </div>
</div>

<div id="center" class="bg-news">
  <div class="wrapper">

    <div class="content radius-10">
      <div class="content-header top-radius-10">Последние новости</div>

      <div class="news-list">
	<% @latest_news.each do |novelty| %>
	  <div class="news-item radius-10">
	    <div class="info radius-10">
	      <div class="thumb">
		<%= link_to image_tag(novelty.image), novelty_path(novelty) %>
	      </div>
	      <div class="name"><%= novelty.title %></div>
	      <div class="resume"><%== novelty.description %></div>

	      <div class="more-detail">
		<%= link_to "Подробнее", novelty_path(novelty), class: 'radius' %></div>
	    </div>
	    <div class="news-item-footer">
	      <a href="http://www.facebook.com/sharer.php?u=<%= novelty_url(novelty) %>" class="share" data-service="Facebook">
		<%= image_tag 'icon-vk.png' %>
	      </a>
	      <a href="http://vkontakte.ru/share.php?url=<%= novelty_url(novelty) %>" class="share" data-service="Vkontakte">
		<%= image_tag 'icon-fb.png' %>
	      </a>
	    </div>
	  </div>
	<% end %>


	<div class="clear"></div>

	<div class="news-other-title">
	  Остальные новости
	</div>

	<% @news.each do |novelty| %>
	  <div class="news-item radius-10">
	    <div class="info radius-10">
	      <div class="thumb">
		<%= link_to image_tag(novelty.image), novelty_path(novelty) %>
	      </div>
	      <div class="name"><%= novelty.title %></div>
	      <div class="resume"><%== novelty.description %></div>

	      <div class="more-detail">
		<%= link_to "Подробнее", novelty_path(novelty), class: 'radius' %></div>
	    </div>
	    <div class="news-item-footer">
	      <a href="http://www.facebook.com/sharer.php?u=<%= novelty_url(novelty) %>" class="share" data-service="Facebook">
		<%= image_tag 'icon-vk.png' %>
	      </a>
	      <a href="http://vkontakte.ru/share.php?url=<%= novelty_url(novelty) %>" class="share" data-service="Vkontakte">
		<%= image_tag 'icon-fb.png' %>
	      </a>
	    </div>
	  </div>
	<% end %>

	<div class="clear"></div>

      </div>
    </div>

  </div>
</div>
