<%= semantic_form_for [:admin, resource] do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <%= link_to 'Русский', "#lang-ru" %>
      <% resource.translations.each do |lang| %>
	<% unless lang.locale == :ru %>
	  <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
	<% end %>
      <% end %>
    </ul>

    <div id="lang-ru">
      <%= f.inputs 'Русский текст' do %>
        <%= f.input :title %>
	<%= f.input :position %>
	<%= f.input :photo, :as => :file, :hint => f.template.image_tag(f.object.photo.url) %>
	<%= f.input :job %>
	<%= f.input :biography, as: :html_editor %>
	<% [:lj_url, :vk_url, :tw_url, :fb_url].each do |soc| %>
	  <%= f.input soc, input_html: { rows: 2 } %>
	<% end %>
      <% end %>
    </div>

    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :ru %>">
	<%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
	  <%= lf.input :title %> 
	  <%= lf.input :job %>
	  <%= lf.input :biography, as: :html_editor %>
          <%= lf.input :locale, :as => :hidden %>
	<% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>

  <%= f.actions %>

<% end %>
