<%= render 'shared/about_us_submenu' %>

<div class="page-bg bg-about"></div>

<div id="breadcrumbs">
  <div class="wrapper">
    <%= link_to t(:about_studio), about_us_path %>
    <span class="drop"></span>
    <%= link_to t(:persons), persons_path %>
    <span class="drop"></span>
    <%= link_to @staff.title, person_path(@staff) %>
    <a href="" class="head_name"></a>
  </div>
</div>

<div id="center">
  <div class="wrapper">

    <div class="content-column fl radius-10">
      <div class="content-header top-radius-10"><%= t(:staffs) %></div>
      <div class="content-block">
	<div class="person-list">
	  <ul>
	    <% Staff.order('position ASC').each do |staff| %>
	      <li class="<%= 'current' if @staff == staff %>"><%= link_to staff.title, person_path(staff), :class => "person" %></li>
	    <% end %>
	  </ul>
	</div>
      </div>
    </div>

    <div class="content-column fr radius-10">
      <div class="content-header top-radius-10"><%= t(:info) %></div>

      <div class="person_block" id="person_<%= @staff.id %>">
	<div class="content-block">
	  <div class="person-info">
	    <div class="thumb"><%= image_tag @staff.photo %></div>
	    <div class="name"><%= @staff.title %></div>
	    <div class="type"><%= @staff.job %></div>
	    <div class="resume">
	      <%== @staff.biography  %>
	    </div>
	  </div>
	</div>
	<div class="content-footer bottom-radius-10">
	  <% %w[lj vk tw fb].each do |soc| %>
	    <%= link_to @staff.send("#{soc}_url".to_sym) do %>
	      <%= image_tag "icon-#{soc}.png" %>
	    <% end if @staff.send("#{soc}_url".to_sym).present? %>
	  <% end %>
	</div>
      </div>

    </div>

    <div class="clear"></div>
  </div>
</div>
