<%= semantic_form_for [:admin, @movie] do |f| %>
  <div class="language-tabs">
    <ul class="language-selection">
      <%= link_to 'Русский', "#lang-ru" %>
      <% @movie.translations.each do |lang| %>
        <% unless lang.locale == :ru %>
          <%= link_to ADDITIONAL_LOCALES[lang.locale.to_sym], "#lang-#{lang.locale}" %>
        <% end %>
      <% end %>
    </ul>

    <div id="lang-ru">
      <%= f.inputs 'Русский текст' do %>
        <%= f.input :title %>
        <%= f.input :official_url %>
        <%= f.input :description, as: :html_editor %>
        <%= f.input :new_movie, as: :select, collection: [['Да', true],['Нет', false]] %>
        <%= f.input :awarded,   as: :select, collection: [['Да', true],['Нет', false]] %>
        <%= f.input :awarded_text, as: :html_editor %>
      <% end %>
    </div>

    <% index = 0 %>
    <%= f.semantic_fields_for :translations do |lf| %>
      <div id="lang-<%= lf.object.locale %>" style="<%= 'display: none;' if lf.object.locale == :ru %>">
        <%= lf.inputs "#{ADDITIONAL_LOCALES[lf.object.locale.to_sym]} Text" do %>
          <%= lf.input :title %>
          <%= lf.input :description, as: :html_editor %>
          <%= lf.input :awarded_text, as: :html_editor %>
          <%= lf.input :locale, :as => :hidden %>
        <% end %>
      </div>
      <% index += 1 %>
    <% end %>
  </div>

  <% unless f.object.new_record? %>
    <%= f.inputs "Изображения" do %>
      <%= render 'admin/shared/movie_images/images', f: f %>
    <% end %>

    <%= f.inputs "Эпизоды" do %>
      <%= link_to 'Создание эпизода', new_admin_movie_episode_path(movie_id: f.object.id) %>
      <% f.object.episodes.each do |episode| %>
        <div class="movie_episode">
          <%= link_to episode.title, edit_admin_movie_episode_path(episode) %>
        </div>
      <% end %>
    <% end %>

  <% end %>

  <%= f.actions %>

<% end %>
