<%= render 'shared/about_us_submenu' %>
<%= javascript_include_tag '//api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU' %>

<div id="breadcrumbs">
  <div class="wrapper">
    <a href="">О Студии</a><span class="drop"></span><a href="">Контакты</a>
  </div>
</div>

<div id="center" class="bg-contact">
  <div class="wrapper">

    <div class="content radius-10">
      <div class="content-block top-radius-10">
	<div class="contact-info ">
	  <div class="map top-radius-10">
	    <div class="map_wrapper">
	      <div id="map" data-coords="<%= @contact.coords %>"></div>
	    </div>
	  </div>
	  <div class="info">
	    <table>
	      <tr>
		<td width="50%">
		  <%== @contact.left_block %>
		</td>
		<td>
		  <%== @contact.right_block %>
		</td>
	      </tr>
	    </table>
	  </div>
	</div>
      </div>
      <div class="content-footer bottom-radius-10">
	<% %w[lj vk tw].each do |soc| %>
	  <%= link_to @contact.send("#{soc}_url".to_sym) do %>
	    <%= image_tag "icon-#{soc}.png" %>
	  <% end if @contact.send("#{soc}_url".to_sym) %>
	<% end %>
      </div>
    </div>

  </div>
</div>
