
<div class="page-bg bg-partners"></div>

<div id="center">
  <div class="wrapper">

	<div class="widget">
		<div class="widget-frame">
			<iframe width="336" height="280" frameborder="0" marginheight="0" marginwidth="0" src="http://widgets.planeta.ru/widgets/campaign-widget.html?campaignId=1658&type=SQUARE_336"></iframe>
		</div>
		<div class="widget-text">
			Анимационная студия Toonbox при помощи краудфандинговой площадки собирает средства на&nbsp;создание двухсерийного анимационного фильма &laquo;Записки молодого врача&raquo; (2&nbsp;серии по&nbsp;13&nbsp;минут) по&nbsp;циклу рассказов М.&nbsp;А.&nbsp;Булгакова, опубликованных в&nbsp;<nobr>1925-1926</nobr>&nbsp;годах. Фильм, который мы&nbsp;хотим сделать вместе с&nbsp;вами,&nbsp;&mdash; это удивительное сочетание поразительных талантливых людей, авторов сериала Mr. Freeman.
		</div>
	</div>

	<div class="clear"></div>
    
    <div class="content-block radius-10">

      <div class="last-series-list">

	<% @movies.each do |movie| %>
	  <div class="series-item radius">
	    <div class="social-bookmark top-radius">
	      <a href="http://www.facebook.com/sharer.php?u=<%= movie_url(movie) %>" class="share" data-service="Facebook">
		<span class="fb-mark"></span>
	      </a>
	      <a href="http://vkontakte.ru/share.php?url=<%= movie_url(movie) %>" class="share" data-service="Vkontakte">
		<span class="vk-mark"></span>
	      </a>
	    </div>
	    <% if movie.new_movie? %>
	      <div class="new-icon-item"><img src="/assets/icon-new.png" data-title="<%= t(:new_movie) %>" data-resume="" alt="" /></div>
	    <% end %>
	    <% if movie.awarded? %>
	      <div class="award-icon-item"><img src="/assets/icon-award.png" data-resume="<%= movie.awarded_text %>" alt="" /></div>
	    <% end %>
	    <div class="series-thumb">
	      <div class="icon-mask radius">
		<%= link_to movie_path(movie), class: "icon-series" do %>
		  <span><%= movie.episodes.count %></span> <%= t(:episode, count: movie.episodes.count) %>
		<% end %>
	      </div>
	      <div class="preview">
		<%= link_to image_tag(movie.default_image, style: "width: 266px;"), movie_path(movie) %>
	      </div>
	      <div class="clear"></div>
	    </div>
	    <div class="series-info">
	      <div class="series-title">
          <%= movie.title %>
          <div class="offical_url">
            <% if movie.official_url.present? %>
              <% url = URI(movie.official_url).scheme ? movie.official_url : "http://#{movie.official_url}" %>
              <%= link_to URI(url).host, url %>
            <% end %>
          </div>
        </div>
	    </div>
	  </div>
	<% end %>

	<div class="clear"></div>

      </div>

    </div>
  </div>
</div>
