
<div class="page-bg bg-partners"></div>

<div id="breadcrumbs">
  <div class="wrapper">
    &nbsp;
  </div>
</div>

<div id="center">
  <div class="wrapper">
    <div class="content-block radius-10">

      <div class="last-series-list">

	<% @movies.each do |movie| %>
	  <div class="series-item radius">
	    <div class="social-bookmark top-radius">
	      <a href="http://www.facebook.com/sharer.php?u=<%= movie_url(movie) %>" class="share" data-service="Facebook">
		<span class="fb-mark"></span>
	      </a>
	      <a href="http://vkontakte.ru/share.php?url=<%= movie_url(movie) %>" class="share" data-service="Vkontakte">
		<span class="vk-mark"></span>
	      </a>
	    </div>
	    <% if movie.new_movie? %>
	      <div class="new-icon-item"><img src="/assets/icon-new.png" data-title="<%= t(:new_movie) %>" data-resume="" alt="" /></div>
	    <% end %>
	    <% if movie.awarded? %>
	      <div class="award-icon-item"><img src="/assets/icon-award.png" data-resume="<%= movie.awarded_text %>" alt="" /></div>
	    <% end %>
	    <div class="series-thumb">
	      <div class="icon-mask radius">
		<%= link_to movie_path(movie), class: "icon-series" do %>
		  <span><%= movie.episodes.count %></span> <%= t(:episode, count: movie.episodes.count) %>
		<% end %>
	      </div>
	      <div class="preview">
		<%= link_to image_tag(movie.default_image, style: "width: 266px;"), movie_path(movie) %>
	      </div>
	      <div class="clear"></div>
	    </div>
	    <div class="series-info">
	      <div class="series-title"><%= movie.title %></div>
	    </div>
	  </div>
	<% end %>

	<div class="clear"></div>

      </div>

    </div>
  </div>
</div>
