<%= render 'shared/about_us_submenu' %>

<div class="page-bg bg-feedback"></div>

<div id="breadcrumbs">
  <div class="wrapper">
    <%= link_to t(:about_studio), about_us_path %>
    <span class="drop"></span>
    <%= link_to t(:feedbacks), feedbacks_path %>
  </div>
</div>

<div id="center">
  <div class="wrapper">
    <div class="content-block radius-10">
      <div class="feedback-list">

	<% @feedbacks.each do |feedback| %>
	  <div class="feedback-item">
	    <div class="feedback-dialog radius-10">
	      <div class="resume"><%== feedback.text %></div>
	      <div class="name"><%= feedback.title %></div>
	      <span class="arrow"></span>
	    </div>
	    <div class="feedback-logo"><%= image_tag feedback.logo %></div>
	  </div>
	<% end %>

	<div class="clear"></div>

      </div>
    </div>
  </div>
</div>
